body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
}

form {
    width: 400px;
    background: #dcdcdc;
    padding: 20px;
}

.text {
    width: 100%;
    padding: 5px;
}

select{
    width: 100%;
     padding: 5px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}