div{
    background-color: lightgrey;
}
h2 {
    text-align: center;
}

table {
    width: 100%;
    
}

td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
    height:50px;
}

.colum2{
    background-color: white;
}

.colum4{
    background-color: white;
}

button {
    padding: 10px;
}

.view {
    background-color: green;
    color: white;
}

.update {
    background-color: orange;
    color: black;
}

.delete {
    background-color: red;
    color: white;
}

