*{
    padding: 0px;
    margin: 0px;
}

.header1{
    background-color: #000000;
    color: white;
    width: 1440px;
    height: 48px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.headertext {
    padding-left: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 14px;
    height: 21px;
}

a{
    font-weight: 600px;
    font-size: 14px;
    color: white;
}

.language{
    background-color: black;
    color: white;
    border: none;
    gap: 5px;
    text-align: left;
}

.header2{
    display: flex;
    justify-content: space-evenly; 
    width: 1170px;
}

.Home{
    display: flex;

}

.Search{
    display: flex;
}