.accordion {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 700px;
}

.item {
    border-bottom: 1px solid #ddd;
}

.header {
    background: lightgrey;
    padding: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.header2 {
    background: #f8f9fa;
    padding: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background: lightcyan;
}

.body {
    display: block;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.highlight {
    color: violet;
}
